{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <section id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-9xl font-semibold text-white absolute top-10 left-10">TrueBubble</h1>
                </div>
            </div>
        </div>
{#        <a href="#" data-object='4579|https//#|Le titre' class="flex justify-center items-center rounded-full bg-indigo-400 w-[12rem] h-[12rem] bubble">#}
{#            <h2>Le titre</h2>#}
{#        </a>#}
        <div data-object="data-object='4579|https//#|Le titre'"></div>
        <div data-object></div>
        <div data-object></div>
        <div data-object></div>
        <div data-object></div>
        <div data-object></div>
        <div data-object></div>
    </section>
{% endblock %}