{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <section id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-9xl font-semibold text-white absolute top-10 left-10">TrueBubble</h1>
                </div>
            </div>
        </div>
{#        <div data-object="data-object='4579|https//#|Le titre'"></div>#}
        <ul class="bubbles">
            <li class="bubble bg-new"><a href="#">
                    <h2>Le titre</h2>
                </a></li>
            <li class="bubble bg-new"><a href="#">
                    <h2>Le titre</h2>
                </a></li>
            <li class="bubble bg-new"><a href="#">
                    <h2>Le titre</h2>
                </a></li>
            <li class="bubble bg-true"><a href="#">
                    <h2>Le titre</h2>
                </a></li>
            <li class="bubble bg-true"><a href="#">
                    <h2>Le titre</h2>
                </a></li>
            <li class="bubble bg-true"><a href="#">
                    <h2>Le titre</h2>
                </a></li>
            <li class="bubble bg-fake"><a href="#">
                    <h2>Le titre</h2>
                </a></li>
            <li class="bubble bg-fake"><a href="#">
                    <h2>Le titre</h2>
                </a></li>
            <li class="bubble bg-fake"><a href="#">
                    <h2>Le titre</h2>
                </a></li>
            <li class="bubble bg-hype"><a href="#">
                    <h2>Le titre</h2>
                </a></li><li class="bubble"><a href="#">
                    <h2>Le titre</h2>
                </a></li>
            <li class="bubble bg-hype"><a href="#">
                    <h2>Le titre</h2>
                </a></li>
            <li class="bubble bg-hype"><a href="#">
                    <h2>Le titre</h2>
                </a></li>
            <li class="bubble bg-hype"><a href="#">
                    <h2>Le titre</h2>
                </a></li>
            <li class="bubble"><a href="#">
                    <h2>Le titre</h2>
                </a></li>
            <li class="bubble"><a href="#">
                    <h2>Le titre</h2>
                </a></li><li class="bubble"><a href="#">
                    <h2>Le titre</h2>
                </a></li>
            <li class="bubble"><a href="#">
                    <h2>Le titre</h2>
                </a></li>
            <li class="bubble"><a href="#">
                    <h2>Le titre</h2>
                </a></li>
            <li class="bubble"><a href="#">
                    <h2>Le titre</h2>
                </a></li>
            <li class="bubble"><a href="#">
                    <h2>Le titre</h2>
                </a></li>
            <li class="bubble"><a href="#">
                    <h2>Le titre</h2>
                </a></li><li class="bubble"><a href="#">
                    <h2>Le titre</h2>
                </a></li>
            <li class="bubble"><a href="#">
                    <h2>Le titre</h2>
                </a></li>
            <li class="bubble"><a href="#">
                    <h2>Le titre</h2>
                </a></li>
            <li class="bubble"><a href="#">
                    <h2>Le titre</h2>
                </a></li>
            <li class="bubble"><a href="#">
                    <h2>Le titre</h2>
                </a></li>
            <li class="bubble"><a href="#">
                    <h2>Le titre</h2>
                </a></li>
        </ul>
    </section>
{% endblock %}