{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-9xl font-semibold text-white absolute top-10 left-10">TrueBubble</h1>
                </div>
            </div>
        </div>
{#        <div data-object="data-object='4579|https//#|Le titre'"></div>#}
        <ul class="bubbles">
            {% for post in posts %}
                <li class="bubble bg-new"><a href="{{ path('app_post_show', {id: post.id}) }}">
                        <h2>{{ post.title }}</h2>
                    </a></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}